---
import {
    Table,
    TableBody,
    TableCaption,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "@/components/ui/table"

interface Resource {
    slug: string
    title: string
    author: string
    category: string
    description: string
    datePosted: string 
}

const resources: Resource[] = [{
    slug: "r001",
    title: "Introduction to Buddhism",
    author: "Buddha",
    category: "Article",
    description: "A short introduction to Buddhism, written by Buddha!",
    datePosted: "2024-02-21",
}]

---
<Table>
    <TableCaption>A list of our resources.</TableCaption>
    <TableHeader>
        <TableRow>
            <TableHead className="w-[100px]">ID</TableHead>
            <TableHead>Title</TableHead>
            <TableHead>Author</TableHead>
            <TableHead>Category</TableHead>
            <TableHead>Description</TableHead>
            <TableHead></TableHead>
            <TableHead>Date posted</TableHead>
        </TableRow>
    </TableHeader>
    <TableBody>
        {resources.map((resource) => (
            <TableRow>
                <TableCell>{resource.slug}</TableCell>
                <TableCell>{resource.title}</TableCell>
                <TableCell>{resource.author}</TableCell>
                <TableCell>{resource.category}</TableCell>
                <TableCell>{resource.description}</TableCell>
                <TableCell><button class="row" data-slug={resource.slug}>READ</button></TableCell>
                <TableCell>{resource.datePosted}</TableCell>
                
            </TableRow>
        ))}
    </TableBody>
</Table>

<script>
    const buttons = document.querySelectorAll('button.row');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            const slug = button.getAttribute('data-slug');
            document.location.href = `/resources/${slug}`;
        });
    });
</script>