---
import {
    Table,
    TableBody,
    TableCaption,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "@/components/ui/table"
import { CollectionEntry, getCollection } from "astro:content";

const articles: CollectionEntry<'articles'>[] = await getCollection('articles', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  }); // add searching and sorting

---
<Table>
    <TableCaption>A list of our resources.</TableCaption>
    <TableHeader>
        <TableRow>
            <TableHead>Title</TableHead>
            <TableHead>Category</TableHead>
            <TableHead>Description</TableHead>
            <TableHead></TableHead>
            <TableHead>Date posted</TableHead>
        </TableRow>
    </TableHeader>
    <TableBody>
        {articles.map((article: CollectionEntry<'articles'>) => (
            <TableRow>
                <TableCell>{article.data.title}</TableCell>
                <TableCell>Article</TableCell>
                <TableCell>{article.data.description}</TableCell>
                <TableCell><button class="row" data-slug={article.slug}>READ</button></TableCell>
                <TableCell>{article.data.date}</TableCell>
            </TableRow>
        ))}
    </TableBody>
</Table>

<script>
    const buttons = document.querySelectorAll('button.row');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            const slug = button.getAttribute('data-slug');
            document.location.href = `/resources/articles/${slug}`;
        });
    });
</script>